.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-top: 150px;
    margin-bottom: 180px;
  }
  /* heading */
  .portfolio span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
  }
  
  .portfolio span:nth-of-type(2) {
    color: blueviolet;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  /* slider */
  .portfolio .swiper{
      overflow: visible!important;
  }
  
  .portfolio-slider {
    margin-top: 3rem;
    width: 100%;
  }
  
  .portfolio-slider .swiper-slide {
    width: 20rem;
  }
  .portfolio img {
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
  }
  .button-class{
    background: linear-gradient(180deg, #ecf7fa3a 66.71%, #eaf0ec33 29.36%);
    box-shadow: 0px 20px 24px 3px rgba(145, 133, 196, 0.42);
    border-radius: 34px;
    border: none;
    color: rgb(93, 12, 223);
    font-size: 12px;
    padding: 3px 15px 5px 15px;
    width: 6rem;
    height: 2rem;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .button-class:hover{
    background: white;
    cursor: pointer;
    border: 1px solid var(--orange);
    color: var(--orange);
  }
  .slide{
    height: '650px';
     width: '1880px'
  }
  .project-title{
    font-size: 1.25rem;
    padding-left: 5px;
  }